@media (min-width:374px) and (max-width:767px) {
    .center {
        padding-left: 16px;
        padding-right: 16px;

    }

    .top {
        height: 735px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(img/BG_top_mobile.jpg);
        text-align: center;

        &__heading {
            font-size: 32px;
            padding-top: 238px;
        }

        &__text {
            width: 343px;
            font-size: 14px;
            line-height: 22px;
            padding-bottom: 32px;

            &-big {
                font-size: 14px;
            }
        }
    }

    .game {
        grid-template-columns: repeat(4, 1fr);

        &__link {
            font-size: 24px;
        }

        &__item {
            border-radius: 16px;
        }

        &__item__left {
            padding: 236px 248px 32px 17px;
        }

        &__item__middle {
            padding: 236px 244px 32px 14.5px;
        }

        &__item__right {
            padding: 236px 247px 32px 12px;
        }
    }

    .season {
        flex-direction: column;

        &__wrapper {
            padding-top: 51px;
            padding-bottom: 0;
            text-align: center;
            align-items: center;
        }

        &__heading {
            font-family: Montserrat;
            font-size: 32px;
            font-weight: 700;
            line-height: normal;
        }

        &__text {
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 22px;
            /* 157.143% */
        }

        &__image {
            padding-top: 0;
            padding-bottom: 83px;
        }

        &__img {
            width: 100%;
        }

    }
}